<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dive In</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <nav
    class="navbar has-shadow"
    role="navigation"
    aria-label="main navigation"
    id="nav"
  >
    <div class="navbar-brand">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/locations">Locations</a>
      <a class="navbar-item" href="/boats">Boats</a>
      <a class="navbar-item navbar-end" href="/login">Login</a>
      {{#if logged_in}}
        <a href="/">logout</a>
      {{/if}}
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
  <section class="hero is-medium">
    <div class="hero-body">
      <p class="title">
        Dive In Boat Rentals
      </p>
      <p class="subtitle">Who said exploring the ocean was expensive</p>
      <div class="home-form">
        <input
          class="input is-large"
          type="text"
          placeholder="state"
          id="state"
        />
        <input
          class="input is-large"
          type="date"
          placeholder="date"
          id="date"
        />
        <input
          class="input is-large"
          type="text"
          placeholder="capacity"
          id="capacity"
        />
        <button
          class="button is-large"
          type="submit"
          id="home-search"
        >Search</button>
      </div>
    </div>
  </section>
  <body>
    {{{body}}}
  </body>
</html>