<div class="tile is-ancestor" id="login_container">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">Login</p>
      <form class="login-form">
        <div class="field">
          <label for="username-login">Username</label>
          <input class="input" type="text" id="username-login" />
          <label for="password-login">Password</label>
          <input class="input" type="password" id="password-login" />
          <button class="button is-medium is-fullwidth" type="submit">Land Ho!</button>
        </div>
      </form>
    </div>
    <div class="tile is-child box">
      <p class="title">Sign Up</p>
      <form class="signup-form">
        <div class="field">
          <label for="firstName-signup">First Name</label>
          <input class="input" type="text" id="firstName-signup" />
          <label for="lastName-signup">Last Name</label>
          <input class="input" type="text" id="lastName-signup" />
          <label for="email-signup">Email</label>
          <input class="input" type="email" id="email-signup" />
          <label for="username-signup">Username</label>
          <input class="input" type="text" id="username-signup" />
          <label for="password-signup">Password</label>
          <input class="input" type="password" id="password-signup" />
          <button class="button is-medium is-fullwidth" type="submit">On Board!</button>
        </div>
      </form>
    </div>
    <p>* Unlike our competitors... WE WILL NOT SELL YOUR DATA</p>
  </div>
</div>

<script src="./js/login.js"></script>