* {
  box-sizing: border-box;
}
#single_boat {
  width: 55rem;
}
.boat_wrapper {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#boat_details {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: .5rem;
  font-size: 20px;
  border-left: 2px black solid;
}
#card-title {
  margin-right: 2rem;
}
#boat_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 1rem; */
}

#state,
#date,
#capacity {
  width: 20rem;
}
#boat_card {
  text-align: center;
  margin: 1.1rem;
  width: 300px;
  height: fit-content;
}

.hero {
  background-image: url("../images/adam-rhodes-QlMCzH1addw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero p {
  color: white;
}
