        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <ul>
                <li>{{boat.location.city}}</li>
              <li>
                Rate: {{boat.hourlyRate}}/Hr
              </li>
              <li>
                length: {{boat.length}} ft.
              </li>
              <li>
                capacity: {{boat.capacity}}
              </li>
              </ul>
            </div>
          </div>
        </div>